.start{
  background: whitesmoke;
  border-radius: 20px;

  @media (min-width: 992px){
    border-radius: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    h1 {
      text-align: center;
      font-weight: 400;
      margin-bottom: 60px;
      }

      span {
        font-weight: 700;
      }

    button {
      color: white;
      padding:20px;
      background-color:black;
      border: none;
      cursor: pointer;
      border-radius: 20px 20px 0px 0px;
    }
  }
}

.hidden{
  display: none;
}

